@media (max-width: 1024px) {

    /* tags */
    body {
        background-color: rgb(9, 26, 26);
        color: lightcyan;
        font-family: 'Roboto', sans-serif;
    }

    h1,
    h6 {
        color: lightcyan;
        opacity: 100%;
    }

    h6 {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 6px;
        line-height: 2;
    }

    h2 {
        color: #F8C471;
        font-family: 'Merriweather Sans', sans-serif;
        letter-spacing: 6px;
        margin-bottom: 50px;
        padding-top: 7%;
        text-align: center;
        /*text-shadow: 3px 2px black;*/
    }

    section {
        padding: 3% 7%;
    }


    /* classes */


    .spinner-wrapper {
        background-color: rgb(9, 26, 26);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-border {
        color: white;
        height: 100px;
        width: 100px;
        border-width: 5px;
    }

    .section_black {
        background-color: rgb(11, 33, 33);
        color: rgb(183, 209, 209);
    }

    .container_section {
        padding: 3% 7%;
    }

    .section_title_background{
        justify-items: left;
        width: 10rex;        
    }

    .container_section_background{        
        /*background: rgba(76, 175, 80, 0.3);*/
        /*margin-left: -20px;*/        
        background: rgba(21, 59, 59, 0.5);        
        width: 100rex;
        margin-bottom: 3%;
    }    

    .container_section_intro_empty{
        width: 0;
    }

    .section_title_anchor_lang {
        padding-left: 0%;
        padding-right: 0%;
    }

    .main_name_nombre_apellido {

        color: white;
        font-size: 24px;
        font-weight: 800;
        letter-spacing: 9px;
        line-height: 1.75;
        padding-top: 7%;
        padding-bottom: 0;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        /*text-shadow: 3px 2px black;*/

    }

    .main_name_subtitulo {
        text-align: center;
        padding-bottom: 20%;
    }

    .main_name_subtitulo h6 {
        color: #3498DB;
        font-size: 18px;
    }

    .navbar {
        padding-right: 7%;
    }

    .nav-item {
        padding-left: 5%;
    }


    .blockquote {
        font-size: 18px;
        letter-spacing: 4px;
        color: lightcyan;
        text-align: center;
        /*text-shadow: 3px 2px black;*/
    }



    .inicio_image {
        width: 100%;
        text-align: center;
        box-shadow: 6px 6px black;

    }
















    .section_intro_datos {
        color: lightcyan;
        padding-left: 3%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 0%;
        /*background-color: rgb(21, 59, 59);*/
        font-family: 'Roboto', sans-serif;
        letter-spacing: 3px;
        line-height: 3;
        font-size: 16px;

    }


    .section_intro_datos a {
        color: lightgreen;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 14px;
    }


    .section_intro_datos i {
        font-size: 24px;

    }

    .section_intro_datos_icon {
        display: none;
    }

    .section_intro_datos_item {
        text-align: center;
    }


    .section_intro_datos_item i {
        display: inline;
    }

    .section_intro_datos .row .col .row {
        padding-bottom: 7%;
    }

    .section_intro_datos_top {
        margin-top: 14%;
        padding-top: 10%;
    }

    .section_intro_datos_bottom {
        padding-bottom: 10%;
    }





















    .section_formacion_row_title {
        font-size: 16px;
        color: #F8C471;
        letter-spacing: 6px;
        padding-bottom: 1%;
    }


    .section_formacion_row_concept {
        color: #3498DB;
        font-size: 20px;
        letter-spacing: 6px;
        padding-left: 3%;
        padding-bottom: 10%;
        text-align: center;
    }

    .section_formacion_row_content {
        font-size: 14px;
        color: white;
        letter-spacing: 3px;
        text-align: center;
    }


    .section_experiencia_item_row_anio {
        margin-top: 20px;
    }

    .section_experiencia_item_row {
        margin-top: 10px;
    }

    .section_experiencia_item .section_experiencia_item_row_anio {
        color: lightgreen;
        font-size: 18px;
    }

    .section_experiencia_item .section_experiencia_item_row_rol {
        color: #AED6F1;
        padding-left: 12%;
        font-size: 16px;
    }

    .section_experiencia_item .section_experiencia_item_row_empresa {
        color: lightsalmon;
        padding-left: 12%;
        font-size: 14px;
    }

    .section_experiencia_item .section_experiencia_item_row_descripcion h6 {
        padding-left: 12%;
        font-size: 14px;
        color: lightgray;
        letter-spacing: 5px;
        text-align: left;

    }


    .content_habilidades_row_title {
        margin-top: 20px;
        font-size: 18px;
        color: lightgreen;
        letter-spacing: 6px;
        padding-left: 1%;
        margin-bottom: 15px;
        text-align: left;
    }

    .content_habilidades_row_content {
        padding-left: 12%;
        padding-right: 12%;
        margin-top: 10px;
        font-size: 14px;
        letter-spacing: 6px;
        color: lightgray;
        color: white;
        margin-bottom: 20px;
    }

    .content_habilidades_row_content_row {
        padding-bottom: 3%;
    }

    .return-arrow {
        padding-top: 20px;
        text-shadow: 5px 5px black;
    }

    .return-arrow a {
        color: #f29c12;
    }


    .return-arrow a:link {
        color: #f29c12;
    }

    .return-arrow a:hover {
        color: #F8C471;
    }

    .return-arrow i {
        font-size: 64px;
    }

    .revelar {
        scroll-margin-top: 150px;
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 0.8s all ease;
    }

    .revelar.activo {
        transform: translateY(0);
        opacity: 1;
    }


    .flags{
        padding-top: 5px;        
        position: absolute;
        left: 50%;       
        /*display: flex;*/
        transform: translate(-50%, 0);
        z-index: 100;    
    }










    /* ids */
    #section_title_anchor_es {
        padding-right: 5px;
        padding-left: 5px;
    }

    #section_title_anchor_en {
        padding-right: 5px;
        padding-left: 5px;
    }

    #section_title {
        padding: 0% 3%;
        letter-spacing: 6px;
    }

    #section_title a {
        color: #F8C471;
    }

    #section_title a:link {
        color: #F8C471;
    }

    #section_intro {
        padding-top: 40px;
        padding-bottom: 200px;
    }

    #section_intro_quote {
        padding-bottom: 10%;
    }

    #about_home_details_button {
        font-size: 16px;
    }


    #section_experiencia_container {
        letter-spacing: 5px;
    }


}



/*###############################################################################################################*/

/*@media (min-width: 801px) {*/
@media (min-width: 1025px) {

    /* tags */
    body {

        font-family: 'Roboto', sans-serif;
        background-color: rgb(11, 33, 33);
        color: lightgray;

    }

    h1,
    h6 {
        color: lightgray;
        opacity: 100%;
    }

    h6 {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 6px;
        line-height: 2;
    }

    h2 {
        font-family: 'Merriweather Sans', sans-serif;
        color: #F8C471;
        letter-spacing: 6px;
        margin-bottom: 50px;
        /*text-shadow: 3px 2px black;*/

    }

    img {
       /* opacity: 80%;*/
       display: block;
       max-height: 100%;
       max-width: 100%;
    }

    /*img:hover {
        opacity: 100%;
    }*/

    section {
        padding: 3% 7%;
    }


    /* classes */

    .blockquote {
        font-size: 18px;
        letter-spacing: 4px;
        color: lightcyan;
        padding-left: 10px;
        /*text-shadow: 3px 2px black;*/
    }

    .blockquote:hover {
        color: lightcyan;
    }

    .container_section {
        padding: 7% 3%;
    }


    .section_black {
        background-color: rgb(9, 26, 26);
        color: rgb(183, 209, 209);

    }

    .nav_bar_container {
        padding-right: 20%;

    }



    .spinner-wrapper {
        background-color: rgb(9, 26, 26);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-border {
        color: white;
        height: 100px;
        width: 100px;
        border-width: 5px;
    }


    .section_intro_datos {
        /*color: rgb(183, 209, 209);*/
        color: lightcyan;
        /*padding-left: 20px;*/
        padding-top: 0%;        
        padding-bottom: 1%;        
        /*padding-right: 20px;*/
        /*background-color: rgb(21, 59, 59);*/
        font-family: 'Roboto', sans-serif;
        letter-spacing: 3px;
        font-size: 14px;
    }

    .section_intro_datos a {
        color: #28B463;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 14px;
    }


    .section_intro_datos:hover {
        color: lightcyan;
    } 

    .section_intro_datos:hover a {
        color: lightgreen;
    }


    .section_intro_datos i {
        font-size: 24px;

    }

    .section_intro_datos_icon {
        text-align: center;
        vertical-align: middle;
    }


    .section_intro_datos_item i {
        display: none;
    }

    .section_intro_datos_item_download_icon {
        display: none;
    }

    .section_intro_datos_top {
        padding-top: 5%;
    }

    .section_intro_datos_bottom {
        padding-bottom: 5%;
    }



    .intro_subcontainer {
        padding: 3% 3%;
        padding-bottom: 3%;
        background-color: rgba(22, 64, 64, 0.25);
        box-shadow: 5px 5px black;
    }

    .main_name_nombre_apellido {

        color: white;
        font-size: 64px;
        font-weight: bolder;
        text-align: left;
        letter-spacing: 16px;
        padding-top: 3%;
        padding-left: 7%;
        padding-bottom: 0;
        /*text-shadow: 3px 2px black;*/

    }

    .main_name_subtitulo {
        text-align: center;
    }

    .main_name_subtitulo h6 {
        color: #3498DB;
        font-size: 18px;
        letter-spacing: 6px;
    }

    .intro_image_container {
        text-align: center;
    }


    .inicio_image {
        width: 500px;
        height: 380px;
        box-shadow: 6px 6px black;
    }


    .flags{
        padding-top: 5px;        
        position: absolute;
        display: flex;
        left: 50%;       
        z-index: 100; 
        transform: translate(-50%, 0);        
    }








    .navbar {

        padding-bottom: 0%;
        padding-right: 7%;
    }

    .nav-item {
        padding-left: 5%;
    }

    .section_formacion_row_title {
        font-size: 16px;
        color: #F8C471;
        letter-spacing: 6px;
        padding-bottom: 1%;
    }


    .section_formacion_row_concept {
        color: #3498DB;
        font-size: 20px;
        letter-spacing: 6px;
        padding-left: 3%;
        padding-bottom: 2%;
    }

    .section_formacion_row_content {
        padding-left: 12%;
        font-size: 14px;
        /*color: rgb(183, 209, 209);*/
        color: lightcyan;
        letter-spacing: 3px;
    }









    .section_experiencia_item_row_anio {
        margin-top: 20px;
    }

    .section_experiencia_item_row {
        margin-top: 10px;
    }

    .section_experiencia_item .section_experiencia_item_row_anio {    
        color: lightgreen;
    }

    .section_experiencia_item .section_experiencia_item_row_rol {
        color: #3498DB;
        padding-left: 12%;
    }

    .section_experiencia_item .section_experiencia_item_row_empresa {
        color: #E74C3C;
        padding-left: 12%;
    }

    .section_experiencia_item .section_experiencia_item_row_descripcion h6 {
        padding-left: 12%;
        font-size: 14px;
        color: lightcyan;
        letter-spacing: 5px;
    }












    .content_habilidades_row_title {
        margin-top: 20px;
        font-size: 18px;        
        color: lightgreen;
        letter-spacing: 6px;
        padding-left: 1%;
        margin-bottom: 15px;
    }

    .content_habilidades_row_content {
        padding-left: 12%;
        padding-right: 0%;
        margin-top: 10px;
        font-size: 16px;
        letter-spacing: 6px;        
        color: lightcyan;
        margin-bottom: 20px;

    }
    

    .section_title_background{
        /*justify-items: left;
        width: 10rex;        */
    }
    .section_title_background_left{
        justify-items: right;
        width: 10rex;  
        
    }
    .section_title_background_right{
        justify-items: left;
        width: 10rex;        
        
    }

    .container_section_background{        
        /*background: rgba(76, 175, 80, 0.3);*/
        /*margin-left: -20px;*/        
        background: rgba(21, 59, 59, 0.5);                
        width: 100rex;
        margin-bottom: 3%;
        margin-left: 40%;
    }


    .return-arrow {
        padding-top: 50px;
        text-shadow: 5px 5px black;
    }

    .return-arrow a {
        color: #f29c12;
    }


    .return-arrow a:link {
        color: #f29c12;
    }

    .return-arrow a:hover {
        color: #F8C471;
    }

    .return-arrow i {
        text-align: center;
        font-size: 64px;
    }

    .revelar {
        scroll-margin-top: 150px;
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 0.8s all ease;
    }

    .revelar.activo {
        transform: translateY(0);
        opacity: 1;
    }



    /* ids */

    #section_title_anchor_es {
        padding-right: 5px;
        padding-left: 5px;
    }

    #section_title_anchor_en {
        padding-right: 5px;
        padding-left: 5px;
    }


    #section_title {
        padding: 10px 7%;
        letter-spacing: 6px;
    }

    #section_title a {
        color: #D68910;
    }

    #section_title a:link {
        color: #D68910;
    }

    #section_title a:hover {
        color: #F8C471;
    }    


    #section_intro {
        padding-top: 40px;
        padding-bottom: 200px;
        background-image: url(assets/img/nuevo_fondo.jpg);
        background-repeat: no-repeat;        
        background-size: 180ex 100%;
        background-position: center center;
    }

    #section_intro_quote {
        padding-bottom: 10%;
    }

    #about_home_details_button {
        font-size: 16px;
    }


    #section_experiencia_container {
        letter-spacing: 5px;
    }


    #section_footer {
        text-align: center;
    }


}